<ion-content>

    <mat-form-field class='dada'>
        <input matInput [(ngModel)]="selectedDate" (dateChange)="datumChange()" [matDatepicker]="picker" placeholder="Datum" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


  <ion-card *ngFor="let gericht of hauptgerichte" class='Karte'>
    <ion-img src="{{gericht.ImagePfad}}" class='Bild'></ion-img>
    <ion-card-header>
      <ion-card-title>{{gericht.Bezeichnung}}</ion-card-title>
      <ion-card-subtitle>{{gericht.Kategorie}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class='Preis'>
      {{ gericht.Preis| currency:'EUR'}} 
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let gericht of beilagen" class='Karte'>
    <ion-card-header>
      <ion-card-title>{{gericht.Bezeichnung}}</ion-card-title>
      <ion-card-subtitle>{{gericht.Kategorie}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class='Preis'>
      {{ gericht.Preis | currency:'EUR' }} 
    </ion-card-content>
  </ion-card>
</ion-content>