.Preis{
    color:green;
    font-size:25px;


}

.Karte{
    display: inline-block;
    width:450px;
}

.Bild{
    height: 500px;
    object-fit: cover;
}
.dada{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.Hintergrund{
    background-color: black;
}

.Text{color:white }

.datumChange{color:white
}

